# Configuración del entorno de desarrollo
PORT=8080

# Configuración de la base de datos
DB_HOST=localhost
DB_PORT=DB_PORT
DB_USER=DB_USER
DB_PASSWORD=Password1234
DB_SERVICE_NAME=XEPDB1

# Configuración para el envio de correos electrónicos
EMAIL_ADDRESS=username@mail.com
EMAIL_PASSWORD=Password1234
EMAIL_HOST=smtp.mail.com
EMAIL_PORT=587
